@page "/counter"
<HeadTitle Title="Counter"></HeadTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button @onclick="IncrementCountAsync">Click me</button>

@code {
    private int currentCount = 0;

    private async Task IncrementCountAsync()
    {
        for (int i = 0; i < 100; i++)
        {
            currentCount++;
            this.StateHasChanged();
            await Task.Delay(100);
        }
    }
}
