@page "/hottest"
<HeadTitle Title="今日热议"></HeadTitle>

<RefreshView Refresh="LoadAsync">
    <ScrollView>
        <LoadingBox Load="LoadAsync">
            @if (topics != null)
            {
                <div class="grid grid-cols-1 divide-y">
                    @foreach (var topic in topics)
                    {
                        <Topic ViewModel="topic"></Topic>
                    }
                </div>
                <div class="flex flex-col items-center text-gray-400 text-sm mt-4 pb-10">
                    <div>全部加载完成</div>
                </div>
            }
        </LoadingBox>
    </ScrollView>
</RefreshView>


@code {

    [Inject] private ApiService ApiService { get; set; } = null!;
    private IReadOnlyList<TopicViewModel>? topics;

    private async Task LoadAsync()
    {
        var items = await ApiService.GetDailyHot();

        if (items is not null)
        {
            topics = items.Select(o => new TopicViewModel(
            o.Id.ToString(),
            o.Node?.Id.ToString(),
            new MarkupString(o.Title),
            $"/t/{o.Id}",
            o.Member?.AvatarLarge,
            o.Member == null ? "" : $"/member/{o.Member?.Id}",
            o.Member == null ? "" : o.Member?.UserName,
            o.Member == null ? "" : $"/member/{o.Member?.Id}",
            DateTimeOffset.FromUnixTimeSeconds(o.Created)
            .ToLocalTime().DateTime,
            $"{o.LastReplyBy}",
            "",
            o.Node?.Title,
            $"/go/{o.Node?.Name}",
            o.Replies
            )).ToList();
        }
    }
}