@page "/"
@page "/tab"
@layout MainLayout
@attribute [Authorize]
@using System.Diagnostics

<PageTitle>@Tab</PageTitle>
<Tabs tab="@Tab"></Tabs>
<LoadingBox Load="LoadAsync" @ref="loadingBoxRef">
    <Loading>
        @for (int i = 0; i < 15; i++)
        {
            <TopicSkeleton />
        }
    </Loading>
    <Content>
        @if (viewModel != null)
        {
            <div class="grid grid-cols-1 divide-y">
                @foreach (var topic in viewModel.Topics)
                {
                    <Topic ViewModel="@topic"></Topic>
                }
            </div>
            <div class="flex flex-col items-center text-gray-400 text-sm mt-4 mb-10">
                <div>全部加载完成</div>
            </div>
        }
    </Content>
</LoadingBox>

@code
{
    [Parameter]
    [SupplyParameterFromQuery(Name = "tab")]
    public string? Tab { get; set; }

    [Inject] private ApiService ApiService { get; set; } = null!;

    private LoadingBox? loadingBoxRef;

    private HomeViewModel? viewModel;

    protected override async Task OnParametersSetAsync()
    {
        if (loadingBoxRef != null)
        {
            await loadingBoxRef.InvokeAsync();
        }
    }

    private async Task LoadAsync()
    {
        var tabTopics = await this.ApiService.GetTabTopics(this.Tab);
        if (tabTopics != null)
            viewModel = new HomeViewModel(tabTopics);
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);
    }
}