@page "/"
@page "/tab"
@using System.Diagnostics

<PageTitle>@Tab</PageTitle>
<Tabs tab="@Tab"></Tabs>
@if (viewModel != null)
{
    <div class="grid grid-cols-1 divide-y">
        @foreach (var topic in viewModel.Topics)
        {
            <Topic ViewModel="@topic"></Topic>
        }
    </div>
}

@code
{
    [Parameter]
    [SupplyParameterFromQuery(Name = "tab")]
    public string? Tab { get; set; }

    [Inject] private ApiService ApiService { get; set; } = null!;

    private HomeViewModel? viewModel;

    protected override async Task OnParametersSetAsync()
    {
        await LoadAsync();
    }

    private async Task LoadAsync()
    {
        throw new NotImplementedException();    
        var tabTopics = await this.ApiService.GetTabTopics(this.Tab);

        if (tabTopics != null)
            viewModel = new HomeViewModel(tabTopics);
    }
}