@page "/test"

<RefreshView Refresh="OnRefresh">
    <div>hello world</div>
</RefreshView>
@code {
    protected override Task OnInitializedAsync()
    {
        return Task.CompletedTask;
    }

    private async Task OnRefresh()
    {
        
    }
}