<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>V2ex</title>
    <base href="/" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
    <link href="V2ex.Blazor.Server.styles.css" rel="stylesheet" />
    <link href="_content/V2ex.Blazor.Shared/css/app.css" rel="stylesheet" />
    <link rel="stylesheet"
          href="_content/V2ex.Blazor.Shared/lib/swiper/swiper-bundle.min.css" />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>

    @* <script src="_content/V2ex.Blazor.Shared/lib/flowbite/flowbite.min.js"></script> *@

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.js"></script>
    <script src="_content/V2ex.Blazor.Shared/lib/swiper/swiper-bundle.min.js"></script>
    <script type="module">
        import * as utils from './_content/V2ex.Blazor.Shared/utils.js';
        window.utils = utils;
    </script>
</body>

</html>
