@page "/account/login"

<div class="h-screen top-1/2 left-1/2 translate-x-1/2 translate-y-1/2 text-start">hello login</div>
<div>hello login</div>

<button @onclick="LoginAsync">Login @count</button>

<a href="/">home</a>

@code {

    [Inject]
    private Microsoft.AspNetCore.Components.Authorization.AuthenticationStateProvider AuthenticationStateProvider
    {
        get;
        set;
    } = null!;

    int count = 0;
    private async Task LoginAsync()
    {
        count++;
        await ((V2exAuthenticationStateProvider)AuthenticationStateProvider).LoginAsync("hello", "world");
    }
}